/* Основное */
body { margin:0; padding: 0; font-size: 12px; color: black; background-color: #EDEDED; font-family: sans-serif; }
span.command { border-bottom: 1px dashed #686868; color: #686868; cursor: pointer; }
span.command:hover { color: #919191; border-bottom: 1px dashed #919191; }
div.hidden_form { background-color: #FFF9D1; border: 1px solid #EFE28B; padding: 5px; -moz-border-radius: 6px; -webkit-border-radius: 6px; margin: 3px 0 10px 0; display: none; }
div.error { border: 1px solid #E20000; color: #8C0000; background-color: #FFEA91; padding: 10px; -moz-border-radius: 6px; -webkit-border-radius: 6px; margin: 3px 0 10px 0; }
div.success { border: 1px solid #17AF07; color: #00540C; background-color: #BEFF9E; padding: 10px; -moz-border-radius: 6px; -webkit-border-radius: 6px; margin: 3px 0 10px 0; }
fieldset { margin: 5px 0 5px 0; border: 1px solid #45BC51; background-color: #ECFFE8; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.invisible { display: none; }

/* Левая панель */
.admin_left_panel { position: absolute; left: 0; top: 0; width: 200px; padding: 20px 0 20px 10px; z-index: 2; }
.admin_left_panel .item { height: 14px; padding: 8px 20px 8px 20px; font-size: 12px; margin-bottom: 2px; border: 1px solid black; -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; border-right: none; }
.admin_left_panel .item a { color: black; text-decoration: none; }
.admin_left_panel .item a:hover { text-decoration: underline; }
.admin_left_panel .inactive { background-color: #C1C1C1; width: 154px; }
.admin_left_panel .inactive:hover { background-color: #DBDBDB; cursor: pointer; }
.admin_left_panel .active { background-color: white; width: 155px; }

/* Правая панель */
.admin_right_panel { position: absolute; left: 205px; top: 0; background-color: white; right: 0; padding: 10px; border-left: 1px solid black; z-index: 1; padding: 10px; min-height: 100%; }
.admin_right_panel .module_menu .item { display: inline-block; padding: 5px; margin: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.admin_right_panel .module_menu .item a { color: black; text-decoration: none; }
.admin_right_panel .module_menu .item a:hover { text-decoration: underline; }
.admin_right_panel .module_menu .inactive { background-color: #C1C1C1; }
.admin_right_panel .module_menu .inactive:hover { background-color: #DBDBDB; cursor: pointer; }
.admin_right_panel .module_menu .active { background-color: #FC9562; }
.admin_right_panel a { text-decoration: none; color: #808080; }
.admin_right_panel a:hover { text-decoration: underline; }
.admin_right_panel h3 { margin: 10px 0 3px 0; border-bottom: 1px solid #3D3D3D; font-weight: normal; font-size: 14pt; }
img.button { border: none; cursor: pointer; }

/* Админская таблица */
.admin_table { border-left: 1px solid #B0B0B0; border-top: 1px solid #B0B0B0; empty-cells: show; margin: 5px 0 5px 0; background-color: #f8f8f8; }
.admin_table td { border-right: 1px solid #B0B0B0; border-bottom: 1px solid #B0B0B0; padding: 4px; vertical-align: top; }
.admin_table td:first-child { text-align: right; font-weight: bold; }
.admin_table td.nowrap { white-space: nowrap; }
.admin_table td .comment { font-size: smaller; color: #808080; }
.admin_table th { border-right: 1px solid #B0B0B0; border-bottom: 1px solid #B0B0B0; padding: 4px; vertical-align: top; background-color: #f0f0f0; }
.admin_table a { color: #606060; text-decoration: underline; }
.admin_table a:hover { color: black; }