body
{
    font-family: sans-serif;
    font-size: 12px;
}
.header
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 39px;
    padding: 10px 0 0 10px;
    border-bottom: 1px solid #909090;
    background-image: url("/i/reader/bg-top.gif");
    background-repeat: repeat-x;
}
    .header .editform
    {
        position: absolute;
        top: 3px;
        left: 200px;
        display: none;
    }
    .header #editgform
    {
        top: 10px;
    }
    .header #editsform_href
    {
        font-size: 12px;
        display: block;;
    }
.left
{
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 299px;
    background-color: #e7e7e7;
    border-right: 1px solid #909090;
    background-image: url("/i/reader/bg-top.gif");
    background-repeat: repeat-x;
    background-position: bottom;
}
    .left #subscr
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 50px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 15px;
    }
        .left #subscr ul
        {
            margin: 0;
            padding: 0 0 0 10px;
            list-style-type: none;
            cursor: pointer;
        }
        .left #subscr ul.folders
        {
            list-style-image: url("/i/reader/rss_folder.gif");
        }
        .left #subscr ul.feeds
        {
            list-style-image: url("/i/reader/rss_feed.gif");
        }
        .left #subscr .active
        {
            background-color: #f0f0f0;
        }
        .left #subscr span.delete
        {
            display: inline-block;
            width: 8px;
            height: 8px;
            background-image: url("/i/reader/del.gif");
            cursor: pointer;
            margin: 2px 0 0 3px;
        }
    .left .addGroup
    {
        position: absolute;
        bottom: 10px;
        left: 15px;
    }
#right
{
    position: absolute;
    left: 300px;
    top: 50px;
    bottom: 0;
    right: 0;
    background-color: #d4d4d4;
    overflow-y: scroll;
    z-index: 1;
}
    #right .item
    {
        margin: 4px 4px 0 4px;
        border: 2px solid #a0a0a0;
        padding: 6px;
        border-radius: 6px;
        background-color: #f0f0f0;

    }
    #right .item.active
    {
        border-color: #202060;;
    }
    #right .item .date
    {
        color: #909090;
        float: right;
        margin: 0 0 0 20px;
    }
    #right .item h2
    {
        margin: 0 0 6px 0;
        font-size: 14px;
    }
        #right .item h2 a
        {
            padding: 0;
            margin: 0;
            color: #202060;
            text-decoration: none;
        }
    #right .item button
    {
        font-size: 10px;
        float: right;
    }
#curtain
{
    position: fixed;
    background-color: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 10;
}
#rightcurtain
{
    position: absolute;
    left: 300px;
    top: 50px;
    bottom: 0;
    right: 0;
    background-color: #404040;
    text-align: center;
    padding-top: 200px;
    opacity: 0.3;
    z-index: 2;
    display: none;
}

/* формы */
.addform
{
    position: absolute;
    z-index: 2;
    border: 1px solid #c0c0c0;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    color: #808080;
    font-size: 12px;
    max-width: 400px;
    left: 30px;
    display: none;
}
    .addform input
    {
        display: block;
        margin-top: 10px;
    }
#addgform
{
    bottom: 10px;
}
#addsform
{
    top: 20px;
}
/* /формы */